language: node_js
branches:
  only:
    - master
before_script:
  - npm run test
  - npm run lint
script:
  - npm run build
after_script:
  - npm run test:coverage
  - npm run test:coverage:report
after_success:
  - npm run semantic-release
after_failure:
  - cat  /home/travis/.npm/_logs/2021-02-08T14_3*-debug.log